<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVJzAE_na2l0QId-njdTgeC9sYXMYzs3w</string>
	<key>GCM_SENDER_ID</key>
	<string>403475731321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymcompany.lifeapp.dev</string>
	<key>PROJECT_ID</key>
	<string>life-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>life-app-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403475731321:ios:72c51611b7b619ce9255a8</string>
</dict>
</plist>